<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Web Development Learning Journey</title>
</head>
<body>
    <h2>Intro</h2>
    <p>Hi, My name is Paul Ngati welcome to my Web Development Learning Journey website that I created to document my self
    taught learning.</p>

   <img id="banner" src = "https://e08c7101-7ca2-41f0-8a80-393a7a93a45e-00-      11vd1croohoqf.kirk.replit.dev/templates/images/banner.jpg" >

</body>
</html>